In [33]:
import pandas as pd
import os
os.listdir()

['.ipynb_checkpoints',
 'opening_different_filetypes_pandas.ipynb',
 'Slicing_Dataframes.ipynb',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Testing.ipynb']

In [34]:
df7 = pd.read_json("http://www.pythonhow.com/supermarkets.json")
print (df7)
df7.set_index("ID")

           Address           City Country  Employees  ID         Name  \
0     3666 21st St  San Francisco     USA          8   1      Madeira
1   735 Dolores St  San Francisco     USA         15   2  Bready Shop
2      332 Hill St  San Francisco     USA         25   3  Super River
3     3995 23rd St  San Francisco     USA         10   4   Ben's Shop
4  1056 Sanchez St  San Francisco     USA         12   5      Sanchez
5  551 Alvarado St  San Francisco     USA         20   6   Richvalley

              State
0          CA 94114
1          CA 94119
2  California 94114
3          CA 94114
4        California
5          CA 94114

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [35]:
df7 = df7.set_index("Address")
print (df7)

                          City Country  Employees  ID         Name  \
Address
3666 21st St     San Francisco     USA          8   1      Madeira
735 Dolores St   San Francisco     USA         15   2  Bready Shop
332 Hill St      San Francisco     USA         25   3  Super River
3995 23rd St     San Francisco     USA         10   4   Ben's Shop
1056 Sanchez St  San Francisco     USA         12   5      Sanchez
551 Alvarado St  San Francisco     USA         20   6   Richvalley

                            State
Address
3666 21st St             CA 94114
735 Dolores St           CA 94119
332 Hill St      California 94114
3995 23rd St             CA 94114
1056 Sanchez St        California
551 Alvarado St          CA 94114

In [14]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [16]:
df7.iloc[3, 1:3]

Country      USA
Employees     10
Name: 3995 23rd St, dtype: object

In [17]:
df7.ix[3, "Name"]

"Ben's Shop"

In [18]:
df7.ix[3, 4]

"Ben's Shop"

# Deleting Columns & Rows from dataframes

In [20]:
df7.drop("City", 1) #  drops city column

                Country  Employees  ID         Name             State
Address
3666 21st St        USA          8   1      Madeira          CA 94114
735 Dolores St      USA         15   2  Bready Shop          CA 94119
332 Hill St         USA         25   3  Super River  California 94114
3995 23rd St        USA         10   4   Ben's Shop          CA 94114
1056 Sanchez St     USA         12   5      Sanchez        California
551 Alvarado St     USA         20   6   Richvalley          CA 94114

In [24]:
df7.drop("1056 Sanchez St")    # drop address

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

# Updating & Adding to DataFrames